<!doctype html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <p>
        <span wicket:id="feedback"/>

    <form wicket:id="form">
        <!--<div>Id: <input wicket:id="id" type="text"/></div>-->
        <div>Distanz: <input wicket:id="distanzInKilometer" type="text"/>km</div>
        <div>Typ: <select wicket:id="typ"/></div>
        <div>Bezeichnung: <input wicket:id="bezeichnung" type="text"/></div>
        <div>Datum: <input wicket:id="aktivitaetsDatum" type="text"/></div>
        <div>Aufzeichnungsart: <select wicket:id="aufzeichnungsart"/></div>
        <input class="button" type="submit" name="submit" value="Speichern"/>
    </form>
    </p>
</wicket:panel>
</body>
</html>
