<!doctype html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <p>
        <span wicket:id="feedback"/>

    <form wicket:id="form">
        <div>Distanz: <input wicket:id="distanzInKilometer" type="text" autofocus/>km</div>
        <div>Typ: <select wicket:id="typ"/></div>
        <div>Bezeichnung: <input wicket:id="bezeichnung" type="text"/></div>
        <div>Datum: <input wicket:id="aktivitaetsDatum" type="text"/></div>
        <div>Aufzeichnungsart: <select wicket:id="aufzeichnungsart"/></div>
        <!--<a href="#" wicket:id="saveLink"><img class="saveIcon" src="images/icons/diskette_64.png"/></a>-->
        <button class="immageButton" type="submit"><img class="saveIcon" src="images/icons/diskette_64.png"/></button>
    </form>
    </p>
</wicket:panel>
</body>
</html>
