<!doctype html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <p>
        <span wicket:id="feedback"/>

    <!--<form wicket:id="form" class="pure-form">-->
        <!--<fieldset>-->
            <!--<label wicket:id="chartIntervallLabel">-->
                <!--<wicket:message key="chartIntervall"/>-->
            <!--</label>-->
            <!--<select wicket:id="chartIntervall"/>-->
        <!--</fieldset>-->
    <!--</form>-->

    <div wicket:id="chart"/>
</wicket:panel>
</body>
</html>
