<!doctype html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <p>
        <span wicket:id="feedback"/>

    <form wicket:id="pwEditForm" class="pure-form pure-form-aligned">
        <fieldset>
            <legend><wicket:message key="pwEditTitel"/></legend>

            <div class="pure-control-group">
                <label wicket:id="pwLabel">
                    <wicket:message key="pw"/>
                </label>
                <input wicket:id="pw" type="password" autofocus required/>
            </div>
            <div class="pure-control-group">
                <label wicket:id="pwRepeatLabel">
                    <wicket:message key="pwRepeat"/>
                </label>
                <input wicket:id="pwRepeat" type="password" required/>
            </div>

            <div class="pure-controls">
                <button class="immageButton" type="submit"><img class="saveIcon" src="images/icons/diskette_64.png">
                </button>
            </div>
        </fieldset>
    </form>
</wicket:panel>
</body>
</html>
