<!doctype html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <p>
        <span wicket:id="feedback"/>

    <form wicket:id="form" class="pure-form">
        <fieldset>
            <label wicket:id="chartIntervallLabel">
                <wicket:message key="chartIntervall"/>
            </label>
            <select wicket:id="chartIntervall"/>

            <label wicket:id="vonDatumLabel">
                <wicket:message key="vonDatumLabel"/>
            </label>
            <input wicket:id="von" type="text"/>

            <label wicket:id="bisDatumLabel">
                <wicket:message key="bisDatumLabel"/>
            </label>
            <input wicket:id="bis" type="text"/>

            <button wicket:id="submit" class="immageButton" type="submit">
                <img class="saveIcon" src="images/icons/right2_64.png">
            </button>
        </fieldset>
    </form>

    <div wicket:id="chart"/>
</wicket:panel>
</body>
</html>
